
*{
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: beige;
}
a{
    color: beige;
    font-weight: bolder;
    text-decoration: none;
}
button{
    display: block;
    background-color: darkslategray;
    color: beige;
    padding: 2%;
    border-radius: 25px;
    font-size: large;
    border-width: 2px;
    border-color: beige;
    border-style: solid;
}
form{
    position: absolute;
    left: 25%;
    top: 25%;
    width: 600px;
}
img{
    object-fit: contain;
}

h1{
    margin-left: 20px;
    padding-bottom: 0;
}
.head{
    display: flex;
    background-color: darkslategray;
    margin: 0;
    width: 100.5%;
}
.mørk_lys{
    display: block;
    background-color: #4b6f6f;
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
    float: right;
    height: 50px;
    width: 100px;
    position: absolute;
    right: 100px;
    top: 27px;
}

.bar ul {
    display: flex;
    background-color: #4b6f6f;
    margin: 0;
    width: 100.5%;
}
.bar ul li {
    margin: 20px;
    list-style: none;
    display: flex;
}
.søk{
    position: absolute;
    right: 90px;
    width: 120px;
}

.velkommen{
    position: absolute;
    left: 360px;
    top: 100.5px;
    padding: 5%;
}
.Bilde_velkommen{
    float: right;
    width: 400px;
    position: absolute;
    left: 290px;
    top: 45px;
}
.nyheter{
    position: absolute;
    left: 650px;
    top: 400.5px;
    padding: 5%;
}
.Bilde_nyheter{
    float: left;
    width: 250px;
    position: absolute;
    left: -250px;
    top: 45px;
}
.artikkel_forside {
    position: absolute;
    left: 350px;
    top: 735px;
    padding: 5%;
}
.Bilde_artikkel{
    float: right;
    width: 400px;
    position: absolute;
    left: 300px;
    top: 45px;
}
.forum{
    position: absolute;
    left: 650px;
    top: 1035.5px;
    padding: 5%;
}
.Bilde_forum{
    float: left;
    width: 250px;
    position: absolute;
    left: -250px;
    top: 45px;
}
.om{
    position: absolute;
    left: 360px;
    top: 1368.5px;
    padding: 5%;
}
.Bilde_om{
    float: right;
    width: 400px;
    position: absolute;
    left: 290px;
    top: 45px;
}

.nyhet{
    background-color: #4b6f6f;
    color: beige;
    width: 70%;
    border-radius: 15px;
    position: relative;
    left: 15%;
    padding: 1px;
    padding-left: 15px;
    margin: 15px;
}
.nyhet_pos{
    position: absolute;
    top: 220px;
}
.nyhet p{
    font-size: small;
    padding-bottom: 5px;
}

.artikkel_container{
    position: absolute;
    top: 160px;
    width: 80%;
    left: 10%;
}
.artikkel {
    background-color: #4b6f6f;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;

}
.artikkel_tittel {
    font-size: 1.2em;
    cursor: pointer;
}
.artikkel_innhold {
    display: none;
    font-size: large;
}

.container{
    position: absolute;
    top: 35%;
    width: 1400px;
    margin: 20px;
    padding: 20px;

}
.nyttSpørsmål {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    display: block;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: x-large;
}
.forumsregler{
    position: absolute;
    top: 20%;
    left: 35%;
    font-size: larger;
}
textarea{
    width: 700px;
    height: 300px;
    border-radius: 3%;
}
input{
    width: 700px;
    border-radius: 10%;
    margin: auto;
}
form{
    background-color: #4b6f6f;
    padding: 20px;
    width: 750px;
    border-radius: 15px;
}

.om_innhold{
    position: absolute;
    top: 170px;
    left: 65px;
}

footer{
    background-color: #4b6f6f;
    position: absolute;
    width: 99.4%;
    top: 1712px;
    padding: 30px;
}
.info{
    display: flex;
    align-items: baseline;
}
footer ul{
    list-style: none;
    padding: 30px;
}
